extends layout
block head
  script(src="/conf/javascripts/vue.js")
  script(src="/conf/javascripts/axios.js")
  script(src="/conf/javascripts/adminScript.js")
block content
  #app
    .dayWr
      .day(v-for="item in conferenceDays" v-on:click="activeDay=item")
        .dayTitle {{item.key}}
      .addWr
        input.inpAdd(v-model="newDay")
        .add(v-on:click="addDay") Add
    .activeWr(v-if="activeDay")
      h1 {{activeDay.key}}
      .sessionWr
        .session(v-for="item in sessions")
          .sessionTitle {{item.key}}
          select(v-on:change="sessionChange($event, item)")
            option(value="0" :selected="item.status==0" ) Не начался
            option(value="1" :selected="item.status==1") В процессе
            option(value="2" :selected="item.status==2") Окончен
          .sessionFile  {{item.filename}}
          .add(v-on:click="uploadFile(item)") uploadFile
          a.sessionLink(:href="'/conf/event/'+activeDay.key+'/'+item.key+'/live'" target="_blank") link
          .copy(v-on:click="copyText('https://front.sber.link/conf/event/'+activeDay.key+'/'+item.key+'/live')") copy
          .del(v-on:click="sessionDelete(item)") del
      .addWr
        input.inpAdd(v-model="newSession")
        .add(v-on:click="addSession") AddSession
